*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.container {
  width: 280px;
  min-height: 60%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0 1px 25px hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 100%);
  margin: auto;
  border-radius: 0.8rem;
}

.product {
  width: 100%;
  margin-bottom: 7px;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.product::after {
  content: url(./images/icon-view.svg);
  background: hsl(180, 100%, 50%, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.25s ease;
}

.product:hover::after {
  opacity: 1;
}

.product .image {
  width: 100%;
  display: block;
}

.row {
  margin: 8px 0;
}

.row h3 {
  font-size: 18px;
  font-weight: 600;
}

.row h3:hover {
  color: cyan;
  cursor: pointer;
}

.row p {
  font-size: 15px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.info {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info span {
  font-size: 14px;
}

.left span {
  color: hsl(178, 100%, 50%);
}

.right span {
  color: hsl(215, 51%, 70%);
}

div hr {
  border: none;
  border-top: 1px solid hsl(215, 51%, 70%);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 67%, 62%);
  text-decoration: none;
}
